#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-a {
  color: 	#708090;
  text-decoration: none;
  
}
.custom-a:hover {
  color: black;
}

.custom-container {
padding-top: 20px;
padding-bottom: 20px;
}